/*
CSS soubory ve složce /styles/ se do výsledného článku zakompilují automaticky
*/

/* override nesmyslných stylů v redakčním systému */

li {
    background: none !important;
}

hr {
    max-width: none !important;
}

#sel {
    text-align: center;
    padding: 5px;
}

#selector {
    max-width: 100%;
    margin: auto;
}

#map { 
    height: 400px; 
}
#ttip {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    min-height: 50px;
}